/* 
    Created on : 02/05/2014, 14:11:08
    Author     : Guillermo Tenaschuk
*/

/*! jQuery UI - v1.10.4 - 2014-05-02
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.progressbar.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
#mvnAlgoliaSettings .ui-helper-hidden {
	display: none;
}
#mvnAlgoliaSettings .ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
#mvnAlgoliaSettings .ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
#mvnAlgoliaSettings .ui-helper-clearfix:before,
#mvnAlgoliaSettings .ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
#mvnAlgoliaSettings .ui-helper-clearfix:after {
	clear: both;
}
#mvnAlgoliaSettings .ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
#mvnAlgoliaSettings .ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

#mvnAlgoliaSettings .ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
#mvnAlgoliaSettings .ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
#mvnAlgoliaSettings .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
#mvnAlgoliaSettings .ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#mvnAlgoliaSettings .ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
#mvnAlgoliaSettings .ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
#mvnAlgoliaSettings .ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
#mvnAlgoliaSettings .ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}

/* Component containers
----------------------------------*/

#mvnAlgoliaSettings .ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
#mvnAlgoliaSettings .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
#mvnAlgoliaSettings .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
#mvnAlgoliaSettings .ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

#mvnAlgoliaSettings .ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1.1em;
}
#mvnAlgoliaSettings .ui-widget .ui-widget {
	font-size: 1em;
}
#mvnAlgoliaSettings .ui-widget input,
#mvnAlgoliaSettings .ui-widget select,
#mvnAlgoliaSettings .ui-widget textarea,
#mvnAlgoliaSettings .ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;
}
#mvnAlgoliaSettings .ui-widget-content {
	border: 1px solid #a6c9e2;
	background: #fcfdfd url("images/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
	color: #222222;
}
#mvnAlgoliaSettings .ui-widget-content a {
	color: #222222;
}
#mvnAlgoliaSettings .ui-widget-header {
	border: 1px solid #4297d7;
	background: #5c9ccc url("images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
#mvnAlgoliaSettings .ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
#mvnAlgoliaSettings .ui-state-default,
#mvnAlgoliaSettings .ui-widget-content .ui-state-default,
#mvnAlgoliaSettings .ui-widget-header .ui-state-default {
	border: 1px solid #c5dbec;
	background: #dfeffc url("images/ui-bg_glass_85_dfeffc_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #2e6e9e;
}
#mvnAlgoliaSettings .ui-state-default a,
#mvnAlgoliaSettings .ui-state-default a:link,
#mvnAlgoliaSettings .ui-state-default a:visited {
	color: #2e6e9e;
	text-decoration: none;
}
#mvnAlgoliaSettings .ui-state-hover,
#mvnAlgoliaSettings .ui-widget-content .ui-state-hover,
#mvnAlgoliaSettings .ui-widget-header .ui-state-hover,
#mvnAlgoliaSettings .ui-state-focus,
#mvnAlgoliaSettings .ui-widget-content .ui-state-focus,
#mvnAlgoliaSettings .ui-widget-header .ui-state-focus {
	border: 1px solid #79b7e7;
	background: #d0e5f5 url("images/ui-bg_glass_75_d0e5f5_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1d5987;
}
#mvnAlgoliaSettings .ui-state-hover a,
#mvnAlgoliaSettings .ui-state-hover a:hover,
#mvnAlgoliaSettings .ui-state-hover a:link,
#mvnAlgoliaSettings .ui-state-hover a:visited,
#mvnAlgoliaSettings .ui-state-focus a,
#mvnAlgoliaSettings .ui-state-focus a:hover,
#mvnAlgoliaSettings .ui-state-focus a:link,
#mvnAlgoliaSettings .ui-state-focus a:visited {
	color: #1d5987;
	text-decoration: none;
}
#mvnAlgoliaSettings .ui-state-active,
#mvnAlgoliaSettings .ui-widget-content .ui-state-active,
#mvnAlgoliaSettings .ui-widget-header .ui-state-active {
	border: 1px solid #79b7e7;
	background: #f5f8f9 url("images/ui-bg_inset-hard_100_f5f8f9_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #e17009;
}
#mvnAlgoliaSettings .ui-state-active a,
#mvnAlgoliaSettings .ui-state-active a:link,
#mvnAlgoliaSettings .ui-state-active a:visited {
	color: #e17009;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
#mvnAlgoliaSettings .ui-state-highlight,
#mvnAlgoliaSettings .ui-widget-content .ui-state-highlight,
#mvnAlgoliaSettings .ui-widget-header .ui-state-highlight {
	border: 1px solid #fad42e;
	background: #fbec88 url("images/ui-bg_flat_55_fbec88_40x100.png") 50% 50% repeat-x;
	color: #363636;
}
#mvnAlgoliaSettings .ui-state-highlight a,
#mvnAlgoliaSettings .ui-widget-content .ui-state-highlight a,
#mvnAlgoliaSettings .ui-widget-header .ui-state-highlight a {
	color: #363636;
}
#mvnAlgoliaSettings .ui-state-error,
#mvnAlgoliaSettings .ui-widget-content .ui-state-error,
#mvnAlgoliaSettings .ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}
#mvnAlgoliaSettings .ui-state-error a,
#mvnAlgoliaSettings .ui-widget-content .ui-state-error a,
#mvnAlgoliaSettings .ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
#mvnAlgoliaSettings .ui-state-error-text,
#mvnAlgoliaSettings .ui-widget-content .ui-state-error-text,
#mvnAlgoliaSettings .ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
#mvnAlgoliaSettings .ui-priority-primary,
#mvnAlgoliaSettings .ui-widget-content .ui-priority-primary,
#mvnAlgoliaSettings .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
#mvnAlgoliaSettings .ui-priority-secondary,
#mvnAlgoliaSettings .ui-widget-content .ui-priority-secondary,
#mvnAlgoliaSettings .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
#mvnAlgoliaSettings .ui-state-disabled,
#mvnAlgoliaSettings .ui-widget-content .ui-state-disabled,
#mvnAlgoliaSettings .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
#mvnAlgoliaSettings .ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
#mvnAlgoliaSettings .ui-corner-all,
#mvnAlgoliaSettings .ui-corner-top,
#mvnAlgoliaSettings .ui-corner-left,
#mvnAlgoliaSettings .ui-corner-tl {
	border-top-left-radius: 5px;
}
#mvnAlgoliaSettings .ui-corner-all,
#mvnAlgoliaSettings .ui-corner-top,
#mvnAlgoliaSettings .ui-corner-right,
#mvnAlgoliaSettings .ui-corner-tr {
	border-top-right-radius: 5px;
}
#mvnAlgoliaSettings .ui-corner-all,
#mvnAlgoliaSettings .ui-corner-bottom,
#mvnAlgoliaSettings .ui-corner-left,
#mvnAlgoliaSettings .ui-corner-bl {
	border-bottom-left-radius: 5px;
}
#mvnAlgoliaSettings .ui-corner-all,
#mvnAlgoliaSettings .ui-corner-bottom,
#mvnAlgoliaSettings .ui-corner-right,
#mvnAlgoliaSettings .ui-corner-br {
	border-bottom-right-radius: 5px;
}

/* Overlays */
#mvnAlgoliaSettings .ui-widget-overlay {
	background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
#mvnAlgoliaSettings .ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}

#mvnAlgoliaSettings #progressBar {
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}

#mvnAlgoliaSettings #progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; /* same as #progressBar height if we want text middle aligned */
	width: 0;
	background-color: #0099ff;
}

 #mvnAlgoliaSettings .ui-progressbar {
	position: relative;
}
#mvnAlgoliaSettings .progress-label {
	position: absolute;
	left: 5%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

#mvnAlgoliaSettings #mvnAlgtabs.ui-widget-content {
	border: none;
	background: none;
	color: #222222;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-tabs-panel {
	background: #FFF;
	border: 1px solid #CCC;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-tabs-nav.ui-widget-header {
    background: none;
    border: none;
    color: #FFFFFF;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-default {
    background: #EEE;
	border-color: #CCC;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-active {
    background: #FFF;
    border-color: #CCC;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-default a, 
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-default a:link, 
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-default a:visited{
	font-weight: normal;
	font-size: 14px;
}
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-active a, 
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-active a:link, 
#mvnAlgoliaSettings #mvnAlgtabs .ui-state-active a:visited{
	font-weight: bold;
}
#mvnAlgoliaSettings #mvnAlgtabs .nav-tab {
    background: none;
	border: none;
}
#mvnAlgoliaSettings #mvnAlgtabs .nav-tab-active, 
#mvnAlgoliaSettings #mvnAlgtabs .nav-tab-active:hover {
    background: none;
    border: none;
}
